[submodule "engine"]
	path = engine
	url = https://github.com/Serkan-devel/engine.git
[submodule "front"]
	path = front
	url = https://github.com/Serkan-devel/front-internal.git
[submodule "sockets"]
	path = sockets
	url = https://github.com/Serkan-devel/sockets.git 
